*.class
*.log

# IDE Specific Files
.cache*
.classpath
.project
.settings
target/
/bin/
.idea
*.iml

# SBT
project/project
.sbt
.ivy2
boot/
lib_managed/
src_managed/
.bsp/sbt.json

# OS files
.DS_Store

# Sensitive files
.env